@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<canvas id="canvas" width="600" height="432"></canvas>
<button @onclick="PlayPause">@PlayPauseString</button>
<KaraokePlayer />
<!-- 
    - Create a component for video
    - Use parameters to get the mp3 and cdg file
    - This component will show the video
    - Controls are also shown?
    - Open file
    - time = 0
    - 
-->

@code {
    string PlayPauseString = "Play";

    async void PlayPause()
    {
        if (PlayPauseString == "Play") {
            PlayPauseString = "Pause";
        }
        else {
            PlayPauseString = "Play";
        }

        object test = await JS.InvokeAsync<object>("renderFrames", 100);

    }
}