@page "/KaraokePlayer"
@inject IJSRuntime JSRuntime
@using System.Timers;
@using Models;
<!--
    There should be 4 options:
        - provide the files when calling this component
        - select a .zip
        - select everything manually
        - use the debugging options where everything get's selected automatically.
-->

<h3>KaraokePlayer</h3>
<div>
    <InputFile @ref="inputFile" OnChange="@LoadAudioFile" />
</div>


<div>
    <input @bind="cdgFileLocation" />
    <button class="btn btn-primary" @onclick="LoadClickButton">Load</button>

    @switch (playerState)
    {
        case PlayerState.Stopped:
            <button class="btn btn-primary" @onclick="PlayClickButton">Play</button>
            <button class="btn btn-primary" @onclick="StepClickButton">Step</button>
            break;
        case PlayerState.Playing:
            <button class="btn btn-primary" @onclick="PauseClickButton">Pause</button>
            <button class="btn btn-primary" @onclick="StopClickButton">Stop</button>
            break;
        case PlayerState.Paused:
            <button class="btn btn-primary" @onclick="ContinueClickButton">Continue</button>
            <button class="btn btn-primary" @onclick="StopClickButton">Stop</button>
            <button class="btn btn-primary" @onclick="StepClickButton">Step</button>
            break;
        default: break;
    }
    
    
</div>

@if ((karaokeModel is not null) && (karaokeModel.UseDebugValue == true))
{
    <div>
        <label>Steps per second: </label>
        <input type="number" @bind="stepsPerSecond" />
        <button class="btn btn-primary" @onclick="StartStepClickButton">@startStopSecondString</button>
    </div>
}

<div style="background-color: black; width:610px; ">
    <canvas id="karaoke-display" width="600" height="432" style="border: 1px solid black;" />
</div>

@if ((playerState == PlayerState.Playing) && (audioUrl != null) && (audioUrl != ""))
{
    <div>
        <audio autoplay id="song">
            <source src="@audioUrl" type="audio/mpeg" />
        </audio>
    </div>
}

@code {
    [Parameter]
    public KaraokePlayerModel? karaokeModel { get; set; }
    private enum PlayerState
    {
        NoFileIsLoaded,
        Paused,
        Playing,
        Stopped
    }
    private InputFile? inputFile;

    private string? audioUrl;
    private string? cdgUrl;

    //private bool playAudio { get; set; } = false;

    private string? cdgFileLocation { get; set; } = "./cdg/Maroon 5 - Sugar.cdg";
    private string canvasId = "karaoke-display";
    //private bool loaded = false;

    private uint stepsPerSecond = 50;
    private string startStopSecondString = "Start stepping";
    private bool isStepping = false;
    private Timer stepTimer = new Timer(1000);
    // private bool isPlaying = false;
    private PlayerState playerState = PlayerState.NoFileIsLoaded;
    private async Task LoadAudioFile()
    {
        audioUrl = new(await JSRuntime.InvokeAsync<string>("CreateUrlFromFile", inputFile));
    }

    protected override async Task OnInitializedAsync()
    {
        var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
        await jsModule.InvokeVoidAsync("InitPlayer", canvasId);
        if (karaokeModel is not null)
        {
            if (karaokeModel.CDGFileLocation is not null)
            {
                cdgFileLocation = karaokeModel.CDGFileLocation;
                LoadClickButton();
            }
        }
    }

    private async void LoadClickButton()
    {
        var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
        if (await jsModule.InvokeAsync<bool>("LoadFile", cdgFileLocation) == true)
        {
            playerState = PlayerState.Stopped;
        }
        else
        {
            playerState = PlayerState.NoFileIsLoaded;
        }        
        await InvokeAsync(StateHasChanged);
    }

    private async void PlayClickButton()
    {
        if (playerState == PlayerState.Stopped)
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("StartPlayer");
            await InvokeAsync(StateHasChanged);
            playerState = PlayerState.Playing;
            await InvokeAsync(StateHasChanged);
        }

    }

    private async void PauseClickButton()
    {
        if (playerState == PlayerState.Playing)
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("PausePlayer");
            playerState = PlayerState.Paused;
            await InvokeAsync(StateHasChanged);
        }
    }


    private async void ContinueClickButton()
    {
        if (playerState == PlayerState.Paused)
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("ContinuePlayer");
            playerState = PlayerState.Playing;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async void StopClickButton()
    {
        if ((playerState == PlayerState.Playing) || (playerState == PlayerState.Paused))
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("StopPlayer");
            playerState = PlayerState.Stopped;
            await InvokeAsync(StateHasChanged);
        }
    }
    private async void StepClickButton()
    {
        if ((playerState == PlayerState.Stopped) || (playerState == PlayerState.Paused))
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("StepPlayer");
        }
    }

    private async void StartStepClickButton()
    {
        if (isStepping == false)
        {
            double interval = 1.0 / ((float)stepsPerSecond);
            stepTimer = new Timer(interval * 1000);
            stepTimer.Elapsed += NextStep;
            stepTimer.Enabled = true;
            isStepping = true;
            startStopSecondString = "Stop stepping";
        }
        else
        {
            stepTimer.Enabled = false;
            isStepping = false;
            startStopSecondString = "Start stepping";
        }

        if ((playerState == PlayerState.Stopped) || (playerState == PlayerState.Paused))
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("StepPlayer");

            await InvokeAsync(StateHasChanged);
        }
    }

    private async void NextStep(Object? source, System.Timers.ElapsedEventArgs e)
    {
        if ((playerState == PlayerState.Stopped) || (playerState == PlayerState.Paused))
        {
            var jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/cdgraphics.js");
            await jsModule.InvokeVoidAsync("StepPlayer");
        }
    }
}
