<h3>LyricsPlayback</h3>
<AudioPlayer/>
<div>
    Dit is een test
    nog een test
    en meer lijnen
    dit is de laatste lijn
</div>
@code {
    /* The idea for the lyrics playback is to do the playback first in javascript/C#
     * It has to be done in 300 x 216 pixel area
     * We first animate the text in a canvas or smth
     * Then we convert the canvases to the cdg file format.
     *
     * It might be possible to use a background of the text
     * https://unused-css.com/blog/css-text-gradient/
     * Basically setting a background
     * Clip the background to the text
     * and set the background color of the text to transparent
     * 
     * MarkupTheLyrics now does this as well on a word by word basis.
     * This could be changed to do something similar.
     * Maybe make the background a rectangle if that's possible at least. 
     * Maybe the gradient can be changed to be without an actual gradient
     * 
     * Latest:
     * We have the timing data for each letter.
     * 1. split the lines into 5 lines per page
     * 2. check the end time of the last letter
     * 3. go to the next page when 
    * */

}
