@page "/SyncAudio"
@inject IJSRuntime JSRuntime

<h3>SyncComponent</h3>
<!--
    - Audio loader
    - Audio player
    - Text box input
    - Converted text box
    - Video preview
    - Auto save state?
    -
-->

@code {
    private InputFile? inputFile;
    private ElementReference AudioElement;
    public string? audioUrl;
    private async Task LoadFiles()
    {
        Console.WriteLine("hello");
        audioUrl = new(await JSRuntime.InvokeAsync<string>("CreateUrlFromFile", inputFile));
    }
}
